
.fade-enter-active {
  transition: opacity .3s ease;
}
.fade-leave-active {
  transition: opacity .3s ease;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.slide-left-enter-active {
  transition: all .3s ease;
}
.slide-left-leave-active {
  transition: all .3s ease;
}
.slide-left-enter,
.slide-left-leave-to {
  transform: translateX(160px);
  opacity: 0;
}
